hr {
  visibility: hidden;
}

.create-div-container {
  margin-left: 31.6%;
}

textarea {
  min-width: 170px;
  min-height: 25px;
  max-width: 650px;
  max-height: 650px;
}

#inputs {
  text-align: center;
  /* border: none; */
  height: 30px;
  width: 208px;
}

.modify-div {
  display: flex;
  justify-content: space-around;
}

.form-title {
  margin-top: 15px;
}

#form-submit {
  margin-bottom: 15px;
}

form {
  border-radius: 25px;
  min-width: 300px;
  max-width: 700px;
  min-height: 220px;
  /* overflow: hidden; */
}

.App form {
  border: 0.3px solid rgb(36, 36, 36);
}

[data-theme="dark"] form {
  border: 0.3px solid rgb(153, 153, 153);
}
