hr {
  /* clear: both; */
  visibility: hidden;
}

.cards-buttons {
  min-height: 30px;
  height: fit-content;
  width: 208px;
}

#title {
  margin-top: 15px;
}

.App .card-container {
  border-radius: 25px;
  border: 0.3px solid rgb(36, 36, 36);
  min-width: 300px;
  min-height: 220px;
  overflow: hidden;
}

[data-theme="dark"] .card-container {
  border-radius: 25px;
  border: 0.3px solid rgb(153, 153, 153);
  min-width: 300px;
  min-height: 220px;
  overflow: hidden;
}
