[data-theme="light"] {
  text-align: center;
}

[data-theme="light"] {
  outline-width: 9px;
  outline-style: solid;
  outline-color: rgba(255, 136, 0, 1);

  min-height: 98.3vh;

  background-attachment: fixed;
  background-size: cover;
  background-image: radial-gradient(
    rgba(255, 221, 201, 1) 0%,
    rgba(255, 136, 0, 1) 75%,
    rgba(255, 136, 0, 1) 100%
  );
}

[data-theme="light"] input,
textarea,
button {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.472);
  border: 0.3px solid rgb(36, 36, 36);
}

[data-theme="dark"] {
  text-align: center;
  color: rgb(153, 153, 153);

  outline-width: 9px;
  outline-style: solid;
  outline-color: rgb(0, 0, 25);

  min-height: 98.3vh;

  background-attachment: fixed;
  background-size: cover;
  background-image: radial-gradient(
    rgb(0, 0, 98) 0%,
    rgb(0, 0, 25) 75%,
    rgb(0, 0, 25) 100%
  );
}

[data-theme="dark"] input {
  color: rgb(153, 153, 153);
  background-color: rgba(36, 36, 36, 0.472);
  border: 0.3px solid rgb(153, 153, 153);
}

[data-theme="dark"] textarea {
  color: rgb(153, 153, 153);
  background-color: rgba(36, 36, 36, 0.472);
  border: 0.3px solid rgb(153, 153, 153);
}
[data-theme="dark"] button {
  color: rgb(153, 153, 153);
  background-color: rgba(36, 36, 36, 0.472);
  border: 0.3px solid rgb(153, 153, 153);
}
